{% extends 'base.html' %}
{% block content %}
<h2>Lista de Medicamentos</h2>
<a class="boton" href="{% url 'crear_medicamento' %}">Nuevo Medicamento</a>
<table>
<tr>
    <th>Nombre</th>
    <th>Descripción</th>
    <th>Laboratorio</th>
    <th>Acciones</th>
</tr>
{% for m in medicamentos %}
<tr>
    <td>{{ m.nombre }}</td>
    <td>{{ m.descripcion }}</td>
    <td>{{ m.laboratorio }}</td>
    <td>
        <a href="{% url 'editar_medicamento' m.id %}" class="boton">Editar</a>
        <a href="{% url 'eliminar_medicamento' m.id %}" class="boton eliminar">Eliminar</a>
    </td>
</tr>
{% endfor %}
</table>
{% endblock %}
