{% extends 'base.html' %}
{% block content %}
<h2>Lista de Pacientes</h2>
<a class="boton" href="{% url 'crear_paciente' %}">Nuevo Paciente</a>
<table>
<tr><th>Nombre</th><th>RUT</th><th>Fecha Nacimiento</th><th>Dirección</th><th>Acciones</th></tr>
{% for p in pacientes %}
<tr>
<td>{{ p.nombre }}</td><td>{{ p.rut }}</td><td>{{ p.fecha_nacimiento }}</td><td>{{ p.direccion }}</td>
<td>
<a href="{% url 'editar_paciente' p.id %}" class="boton">Editar</a>
<a href="{% url 'eliminar_paciente' p.id %}" class="boton eliminar">Eliminar</a>
</td>
</tr>
{% endfor %}
</table>
{% endblock %}
